.users-flex {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  /* display: flex; */
  overflow-x: auto;
  border: 2px solid hsl(92deg 28% 65%);
  border-radius: 8px;
  width: min(100%, 50rem);
  box-sizing: border-box;
}

.table__content {
  border-spacing: 0;
  width: 100%;
}

.table__heading {
  position: absolute;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  width: 0.0625rem;
  height: 0.0625rem;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.table__heading-cell {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
}

.table__heading-cell,
.table__data-cell {
  vertical-align: top;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: hsl(222deg 16% 28%);
  padding-right: 1.1875rem;
  padding-left: 1.1875rem;
  box-sizing: border-box;
}

.table__data-cell {
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
}

.table__head .table__heading-cell:where(:nth-child(-n + 2)) {
  width: 27.88945%;
}

.table__head .table__heading-cell:where(:last-child),
.table__body .table__data-cell:where(:last-child) {
  border-right: none;
}

/* .icon.delete {
  color: red;
}
.icon.edit {
  color: green;
} */
.createCat {
  font-size: 20px;
  color: blue;
  margin-bottom: 10px;
}

.table-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.tabl-h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 40%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}

@media screen and (max-width: 767px) {
  .table-header {
    display: none !important;
  }
  .responsive-table li {
    display: block;
  }

  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
  }
  .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
